@mixin auto{
  margin-left: auto;
  margin-right: auto;
}

@mixin percentage{
  width: 100%;
  height: 100%;
}

@mixin fullPage{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@mixin widthAuto($left){
   position: absolute;
  left: $left;
  right: 0;
}

@mixin centerp{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerAuto{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin centerTra{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
}

@mixin cntenrMar($width,$height){
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
}

@mixin circle{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius:50%;
}

@mixin borderRadius($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius:$radius;
}

$width:600px;
$bg:'5503';
$row:15;
$margin:5px;

* {
  margin:0;
  padding:0;
  list-style: none;
}
html,body{
  @include percentage;
}
body{
  background: url("#{$bg}.jpg") center/cover;
  overflow: hidden;
  //background-color: #ccc;
}

@keyframes diaoluo {
  0%{
    transform: translate3d(-1000px,-1000px,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}
@keyframes fly {
  0%{
    transform: translate3d(-1000px,-1000px,0);
}
  100%{
    transform: translate3d(0,0,0);
  }
}

.qipan{
  width: $width;
  height: $width;
  background: none;
  position: relative;
  @include centerTra;
  display: none;
  .qizi{
    margin: $margin;
    width: $width / $row - $margin *2 ;
    height: $width / $row - $margin *2 ;
    float: left;
    position: relative;
    z-index: 99;
    border-radius: 50%;
  }
  .hei{
    background-color: #000000;
  }
  .bai{
    background-color: #ffffff;
  }

  i{
    width: $width - $width / $row;
    height: 1px;
    background-color: #333333;
    position: absolute;
    left: $width/$row/2;
    transform: translate3d(0,-1000px,0);
  }
  b{
    height: $width - $width / $row;
    width: 1px;
    background-color: #333333;
    position: absolute;
    top: $width/$row/2;
    transform: translate3d(0,-1000px,0);
  }
  .pointer{
    width: $width / $row / 4 ;
    height: $width / $row / 4 ;
    @include circle;
    position: absolute;
    background: #000;
    animation: pointer 1s ease forwards;
    transform: translate3d(-50%,-50%,0);
    z-index: 99;
  }
  div.pointer:nth-of-type(1){
    left: 4.5 * $width / $row;
    top: 4.5 * $width / $row;
    transition-delay: 90ms;
  }
  div.pointer:nth-of-type(2){
    left: 10.5 * $width / $row;
    top: 4.5 * $width / $row;
    transition-delay: 270ms;
  }
  div.pointer:nth-of-type(3){
    left: 7.5 * $width / $row;
    top: 7.5 * $width / $row;
    transition-delay: 180ms;
  }
  div.pointer:nth-of-type(4){
    left: 4.5 * $width / $row;
    top: 10.5 * $width / $row;
    transition-delay: 90ms;
  }
  div.pointer:nth-of-type(5){
    left: 10.5 * $width / $row;
    top: 10.5 * $width / $row;
    transition-delay: 270ms;
  }
  @keyframes pointer {
    from{
      transform: translate3d(-1000px,-1000px,0);
    }
    to{
      transform:translate3d(-50%,-50%,0);
    }
  }
  @for $i from 1 through $row{
    i:nth-of-type(#{$i}){
      top:(2 * $i - 1) * $width / $row / 2;
      animation: diaoluo .5s ease $i*10ms forwards;
    }
    b:nth-of-type(#{$i}){
      left:(2 * $i - 1) * $width / $row / 2 ;
      animation: fly .5s ease $i*10ms forwards;
    }
  }
}
div.left{
  position: absolute;
  top: 50%;
  left: 47.5%;
  width: 100px;
  height: 50px;
  border: 1px solid aqua;
  background: none;
  text-align: center;
  line-height: 25px;
  display: none;
}
p{
  display: block;
  width: 100px;
  height: 25px;
  background: rgba(255,255,255,.5);
  box-sizing: border-box;
  border: 1px solid #000;
  cursor: pointer;
}
div.start{
  position: absolute;
  top: 50%;
  left: 47.5%;
  width: 100px;
  height: 50px;
  border: 1px solid aqua;
  background: none;
  text-align: center;
  line-height: 50px;
  background: rgba(255,255,255,.5);
}

