* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: url("5503.jpg") center/cover;
  overflow: hidden; }

@keyframes diaoluo {
  0% {
    transform: translate3d(-1000px, -1000px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@keyframes fly {
  0% {
    transform: translate3d(-1000px, -1000px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
.qipan {
  width: 600px;
  height: 600px;
  background: none;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: none; }
  .qipan .qizi {
    margin: 5px;
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    z-index: 99;
    border-radius: 50%; }
  .qipan .hei {
    background-color: #000000; }
  .qipan .bai {
    background-color: #ffffff; }
  .qipan i {
    width: 560px;
    height: 1px;
    background-color: #333333;
    position: absolute;
    left: 20px;
    transform: translate3d(0, -1000px, 0); }
  .qipan b {
    height: 560px;
    width: 1px;
    background-color: #333333;
    position: absolute;
    top: 20px;
    transform: translate3d(0, -1000px, 0); }
  .qipan .pointer {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    position: absolute;
    background: #000;
    animation: pointer 1s ease forwards;
    transform: translate3d(-50%, -50%, 0);
    z-index: 99; }
  .qipan div.pointer:nth-of-type(1) {
    left: 180px;
    top: 180px;
    transition-delay: 90ms; }
  .qipan div.pointer:nth-of-type(2) {
    left: 420px;
    top: 180px;
    transition-delay: 270ms; }
  .qipan div.pointer:nth-of-type(3) {
    left: 300px;
    top: 300px;
    transition-delay: 180ms; }
  .qipan div.pointer:nth-of-type(4) {
    left: 180px;
    top: 420px;
    transition-delay: 90ms; }
  .qipan div.pointer:nth-of-type(5) {
    left: 420px;
    top: 420px;
    transition-delay: 270ms; }
@keyframes pointer {
  from {
    transform: translate3d(-1000px, -1000px, 0); }
  to {
    transform: translate3d(-50%, -50%, 0); } }
  .qipan i:nth-of-type(1) {
    top: 20px;
    animation: diaoluo 0.5s ease 10ms forwards; }
  .qipan b:nth-of-type(1) {
    left: 20px;
    animation: fly 0.5s ease 10ms forwards; }
  .qipan i:nth-of-type(2) {
    top: 60px;
    animation: diaoluo 0.5s ease 20ms forwards; }
  .qipan b:nth-of-type(2) {
    left: 60px;
    animation: fly 0.5s ease 20ms forwards; }
  .qipan i:nth-of-type(3) {
    top: 100px;
    animation: diaoluo 0.5s ease 30ms forwards; }
  .qipan b:nth-of-type(3) {
    left: 100px;
    animation: fly 0.5s ease 30ms forwards; }
  .qipan i:nth-of-type(4) {
    top: 140px;
    animation: diaoluo 0.5s ease 40ms forwards; }
  .qipan b:nth-of-type(4) {
    left: 140px;
    animation: fly 0.5s ease 40ms forwards; }
  .qipan i:nth-of-type(5) {
    top: 180px;
    animation: diaoluo 0.5s ease 50ms forwards; }
  .qipan b:nth-of-type(5) {
    left: 180px;
    animation: fly 0.5s ease 50ms forwards; }
  .qipan i:nth-of-type(6) {
    top: 220px;
    animation: diaoluo 0.5s ease 60ms forwards; }
  .qipan b:nth-of-type(6) {
    left: 220px;
    animation: fly 0.5s ease 60ms forwards; }
  .qipan i:nth-of-type(7) {
    top: 260px;
    animation: diaoluo 0.5s ease 70ms forwards; }
  .qipan b:nth-of-type(7) {
    left: 260px;
    animation: fly 0.5s ease 70ms forwards; }
  .qipan i:nth-of-type(8) {
    top: 300px;
    animation: diaoluo 0.5s ease 80ms forwards; }
  .qipan b:nth-of-type(8) {
    left: 300px;
    animation: fly 0.5s ease 80ms forwards; }
  .qipan i:nth-of-type(9) {
    top: 340px;
    animation: diaoluo 0.5s ease 90ms forwards; }
  .qipan b:nth-of-type(9) {
    left: 340px;
    animation: fly 0.5s ease 90ms forwards; }
  .qipan i:nth-of-type(10) {
    top: 380px;
    animation: diaoluo 0.5s ease 100ms forwards; }
  .qipan b:nth-of-type(10) {
    left: 380px;
    animation: fly 0.5s ease 100ms forwards; }
  .qipan i:nth-of-type(11) {
    top: 420px;
    animation: diaoluo 0.5s ease 110ms forwards; }
  .qipan b:nth-of-type(11) {
    left: 420px;
    animation: fly 0.5s ease 110ms forwards; }
  .qipan i:nth-of-type(12) {
    top: 460px;
    animation: diaoluo 0.5s ease 120ms forwards; }
  .qipan b:nth-of-type(12) {
    left: 460px;
    animation: fly 0.5s ease 120ms forwards; }
  .qipan i:nth-of-type(13) {
    top: 500px;
    animation: diaoluo 0.5s ease 130ms forwards; }
  .qipan b:nth-of-type(13) {
    left: 500px;
    animation: fly 0.5s ease 130ms forwards; }
  .qipan i:nth-of-type(14) {
    top: 540px;
    animation: diaoluo 0.5s ease 140ms forwards; }
  .qipan b:nth-of-type(14) {
    left: 540px;
    animation: fly 0.5s ease 140ms forwards; }
  .qipan i:nth-of-type(15) {
    top: 580px;
    animation: diaoluo 0.5s ease 150ms forwards; }
  .qipan b:nth-of-type(15) {
    left: 580px;
    animation: fly 0.5s ease 150ms forwards; }

div.left {
  position: absolute;
  top: 50%;
  left: 47.5%;
  width: 100px;
  height: 50px;
  border: 1px solid aqua;
  background: none;
  text-align: center;
  line-height: 25px;
  display: none; }

p {
  display: block;
  width: 100px;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border: 1px solid #000;
  cursor: pointer; }

div.start {
  position: absolute;
  top: 50%;
  left: 47.5%;
  width: 100px;
  height: 50px;
  border: 1px solid aqua;
  background: none;
  text-align: center;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=index.css.map */
